* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(23, 23, 23);
    color :rgb(255, 255, 255);
    font-weight: 200; 
  }

  header{
    text-align: center;
  }
  
  /* Estilos del header y footer */
  header, header h1, header p, header a{
    background-color: #4d9192; /* Gris oscuro */

    padding: 0.25%;
    border-radius: 8px;
  }

  nav, nav ul, nav li, nav a{
    background-color: #292d38; /* Gris oscuro */
    color: white;
    padding: 0.03%;
    border-radius: 8px;
  }
  nav, nav li, nav a{
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px;    
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(36, 35, 35, 0.6);
    -moz-box-shadow: 3px 3px 1px 0px rgba(36, 35, 35, 0.6);
    box-shadow: 3px 3px 1px 0px rgba(36, 35, 35, 0.6);
  }
  nav ul {
    display: flex;									
    justify-content: space-around;
  }
  nav ul :hover {
    background-color: #4d9192;
  }

  h1 {
    /* Alineación del texto */
    text-align: center;
    /* Grosor de la fuente negrita */ 
    font-weight: bold; 
  }

  h2 {
    font-weight: bold; 
  }

  #photo1{
    width: 200px;
    height: auto;
  }
  .subtitle{
    color: rgb(107, 114, 128/0.89);
    text-transform: uppercase;
  }

  section{
    margin: 4px 2px 8px 2px;
    background-color: #292d38;
    border: 0.2pt solid #0a0a0a;
    border-radius: 8px;
    padding: 1.5% 0.8%;
    padding-left: 1.2%; 
    padding-right: 1.2%;
  }

  section {
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px;    
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(36, 35, 35, 0.6);
    -moz-box-shadow: 3px 3px 1px 0px rgba(36, 35, 35, 0.6);
    box-shadow: 3px 3px 1px 0px rgba(36, 35, 35, 0.6);
  }

  section h2, section p, section ol, section ul, section li, section div, section iframe, section figure, section label, section form{
    background-color: #292d38;
  }
  ol :hover, section ul :hover, section li :hover{
    background-color: #4d9192;
    border-radius: 8px;
  }

section form {
  /* Modelo de diseño en cuadrícula */
  display: grid;									
  row-gap: 0.5rem;
}

#resumen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 24vh;
  flex-wrap: wrap;
}

#resumen h2{
  width:50%;
}
#resumen p{
  width: 50%;
}
#resume img{
  max-width: 50%;
}

img{
  background-color: #4d9192; 
  padding: 0.2% 0.2%;
  padding-left: 0.2%; 
  padding-right: 0.2%;
  border-radius: 8px; 
}

#habilidades {
  display: flex;
  font-size: larger;
  align-items: center;
  flex-direction: column;
  height: 37vh;
  flex-wrap: wrap;
}
#habilidades ul{
  width: 100%;
}
#habilidades figure{
  width: 50%;
}

#cartel {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-areas: 'datos1 datos1 datos2';
  grid-template-columns: 1fr 1fr 1fr;
}
#educacion{
  grid-area: datos1;
  padding-left: 17%;
}
#experiencia{
  grid-area: datos2;
  padding-left: 30%;
}

#Cartel2{
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-areas: 'datos3 datos4';
  grid-template-columns: 1fr 1fr;
}
#Contacto{
  grid-area: datos3;
}
#Oficina{
  grid-area: datos4;
}

#Oficina figure{
  align-items: center;
}

button{
  color: white;
  font-size: 16px;
  cursor: pointer; /* Muestra una mano al pasar el ratón */
}

button :hover{
  background-color: rgb(77, 145, 146); 
  transform: scale(1.1);
}

input{
  background-color:rgb(77, 145, 146);  
}
textarea{
  background-color: rgb(77, 145, 146); 
}

figure iframe{
  padding: 0.2% 0.8%;
  padding-left: 28%;
}